*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    padding: 0;
    margin: 0;
}

.header{
    display: flex;
    height: 70px;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
    padding: 0 20em 0 20em;
}

.header a{
    text-decoration: none;
    color: white;
    flex: 1;
    font-size: 2em;
    font-weight: 400;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 12px;
}

.logo{
    color: white;
    flex: 1;
    font-size: 3em;
    font-weight: 600;
}

.hero{
    height: 600px;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6em;
}

.left{
    color: white;
    width: 30em;
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.left h2{
    font-size: 350%;
    font-weight: 600;
    flex: 1;
    margin: 0;
}

.left p{
    font-size: 220%;
    font-weight: 200;
    flex: 1;
    margin: 0;
}

.left button{
    height: 30px;
    width: 200px;
    font-size: 150%;
    font-weight: bold;
    flex: 1;
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 0;
}

.right{
    background-color: #E5E7EB;
    height: 20em;
    width: 40em;
}

.information{
    height: 600px;
    padding-top: 30px;
}

.information h1{
    text-align: center;
    font-size: 300%;
    font-weight: bold;
}

.information li{
    height: 400px;
    width: 200px;
}

.information ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.information li div{
    height: 50%;
    width: 100%;
    border-style: solid;
    border-color: #3882F6;
    border-width: 5px;
    border-radius: 5px;
}

.information li p{
    font-size: 120%;
    font-weight: 400;
    text-align: center;
}

.quote{
    height: 500px;
    background-color: #E5E7EB;
    padding: 5% 20% 5% 20%;
}

.quote .text{
    font-size: 230%;
    font-weight: lighter;
    text-align: center;
}

.quote .owner{
    font-size: 170%;
    font-weight: bold;
    text-align: right;
}